/*------------------------STYLE_CLASSES--------------------------*/
body{
  background-color: var(--black-2);
}
.footer{
  padding: 0 var(--landing-large-padding) var(--landing-large-padding) var(--landing-large-padding);
}
.copyright{
  font-family: 'Poppins Regular';
  color: #ffffff;
  font-size: var(--medium-paragraph-font-size);
}
/*------------------------NAV--------------------------*/
.namesocialLine{
  padding: 0 0 9px 0;
}
/*------------------------ABOUT-section--------------------------*/
#about-wrapper{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: var(--landing-large-padding);
  padding: var(--landing-extra-huge-padding) var(--landing-large-padding) 0 var(--landing-large-padding);
}
#about-text-wrapper{
  grid-column: span 2;
}
#about-title{
  font-family: Uberall Regular;
  font-size: var(--font-size-large);
  color: white;
  padding-bottom: var(--landing-large-padding);
}
#about-text{
  font-family: 'Poppins Light';
  font-size: var(--medium-paragraph-font-size);
  color: var(--light-grey);
  text-align: justify;
  hyphens: auto;
}
#show-hide-extended-about-text{
  display: inline-flex;
  gap: 10px;
  border-radius: var(--border-radius-large-mobile);
  padding: 0 10px;
  font-size: var(--font-size-normal);
  line-height: 18px;
}
#extended-about-text{
  display: none;
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeInAnimation 2s forwards; /* Animation duration and timing */
}
#about-portrait{
  width: 100%;
  border-radius: var(--border-radius-medium);
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeInAnimation 2s forwards; /* Animation duration and timing */
  cursor: default;
}
.image-credits{
  padding-top: 15px;
  font-family: 'Poppins Regular';
  color: #ffffff;
  font-size: var(--font-size-extra-smaller);
  text-align: right;
  text-decoration: none;
  margin-top: auto;
}
.text-link{
  font-family: 'Poppins Regular';
  color: #ffffff;
  text-decoration: none;
}
.text-link:hover{
  text-decoration: underline;
}
#about-quicklinks{
  padding-top: var(--landing-large-padding);
  display: grid;
  grid-template-columns: repeat(10,1fr);
  column-gap: var(--landing-medium-padding);
  row-gap: var(--landing-small-padding);
}
#about-quicklinks > a{
  display: flex;
  border-radius: var(--border-radius-medium);
  justify-content: center;
  padding: 5px;
}
.about-quicklink-icon{
  justify-content: center;
  align-items: center;
}
.important-text{
  padding: 0 var(--font-size-tiny);
  border-radius: var(--border-radius-medium);
  background-color: var(--light-grey);
  color: #ffffff;
  font-size: var(--font-size-smaller);
}
/*------------------------NEWS--------------------------*/
#news_wrapper{
  margin-top: var(--landing-large-padding);
  background: linear-gradient(to top, var(--black-3),var(--black-0-hard));
  border-radius: var(--border-radius-medium);
  outline: var(--default-outline);
  font-family: var(--font-poppins-regular);
  color: var(--bright-white);
  font-size: var(--font-size-smaller);
  height: 20%;
  overflow-y: scroll;
  scrollbar-width: none;

  display: grid;
  grid-template-rows: repeat(1,1fr);
  row-gap: var(--landing-medium-padding);
  padding: var(--landing-large-padding);
  position: relative;
}
#news_wrapper::after {
  content: 'news';
  position: absolute;
  top: calc(var(--landing-large-padding)/2);
  right: var(--landing-large-padding);
}
.news{
  display: grid;
  grid-template-columns: 6% 94%;
  column-gap: var(--landing-medium-padding);
}
.news .n_date{
  align-self: center;
}
.news .n_icon{
  font-size: var(--font-size-bigger);
  background-color: var(--bright-white);
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 100%;
  text-align: center;
  line-height: var(--font-size-large);
  z-index: 1;
}
.n_text{
  grid-column: 2;
  color: var(--light-grey);
}

/*------------------------PROJECT-category-filter-wrapper--------------------------*/
.category-filter-wrapper{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  column-gap: var(--landing-large-padding);
  row-gap: var(--landing-large-padding);
  padding-bottom: var(--landing-large-padding);
  border-bottom: var(--default-outline);
  margin-bottom: var(--landing-large-padding);
}
.filter-button-hint{
  color: var(--default-outline-colour);
  font-style: italic;
  justify-content: right !important;
}
.filter-button{
  display: inline-flex;
  font-family: var(--font-poppins-regular);
  font-size: var(--font-size-smaller);
  border-radius: var(--border-radius-medium);
  justify-content: center;
  padding: var(--landing-tiny-padding);
}
.filter-button-initial-active{
  background-color: var(--light-light-grey);
  color: var(--black-0-hard);
  outline: none;
}
.grid-title{
  color: var(--bright-white);
  align-items: center;
  display: inline-flex;
  font-family: var(--font-poppins-regular);
  font-size: 18px;
}
/*------------------------PROJECT_THUMBNAILS--------------------------*/
.project-overview-wrapper{
  padding: var(--landing-large-padding);
  padding-top: 0;
}
.project_grid_wrapper{ /*grid cell container*/
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--landing-large-padding);
}
/*------------------------RESPONSIVE-DESIGN-------------------------------------------------------------------*/
@media all and (min-height: 65vw) {
  #show-hide-extended-about-text{
    margin-left: 0px;
    position: relative;
    display:flex;
    justify-content: center;
    border-radius: var(--border-radius-large-mobile);
    padding: var(--landing-medium-padding) auto;
    font-size: var(--font-size-normal);
    margin-top: var(--landing-small-padding);
  }
}                                          
@media all and (orientation:portrait){
  /*-----------------HEAD------------------*/
  #about-title{
    font-size: var(--font-size-mobile-extra-large);
    padding-bottom: var(--landing-mobile-headline-padding);
    text-align: center;
  }
  #about-text{
    text-align: center;
    font-size: var(--font-size-mobile-normal);
    text-align: justify;
    hyphens: auto;
  }
  .important-text{
    padding: 0 var(--font-size-normal);
    border-radius: var(--border-radius-large-mobile);
    font-size: var(--font-size-mobile-normal);
  }
  #show-hide-extended-about-text{
    margin-left: 0px;
    position: relative;
    display:flex !important;
    padding: var(--landing-medium-padding) var(--landing-large-padding) !important;
    font-size: var(--font-size-mobile-normal) !important;
    margin-top: var(--landing-large-padding) !important;
    line-height: unset;
  }
  #about-wrapper{
    grid-template-columns: none;
    padding: var(--landing-large-padding);
    padding-bottom: var(--landing-mobile-section-padding);
  }
  #about-text-wrapper{
    grid-column: unset;
    grid-row: 2;
  }
  #about-quicklinks{
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: var(--landing-large-padding);
    gap: 50px;
  }
  #about-quicklinks > a {
    font-size: var(--font-size-mobile-large) !important;
    padding: 30px !important;
  }
  #about-image{
    grid-row: 1;
    padding: 0 15%;
  }
  #about-portrait{
    margin-bottom: -35%;
    z-index: -1;
    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    clip-path: circle(39% at 50% 37%);
  }
  .image-credits{
    display: none;
  }
  .category-filter-wrapper{
    grid-template-rows:repeat();
    grid-template-columns: repeat(2, 1fr);
    gap: var(--landing-large-padding);
  }
  .filter-button{
    font-size: var(--font-size-mobile-normal);
    grid-area: unset !important;
  }
  .icons{
    padding: 0 0 0 22px;
  }
  /*------------------------NEWS--------------------------*/
  #news_wrapper{
    font-size: var(--font-size-mobile-normal);
    row-gap: var(--landing-mobile-headline-padding);
    padding: var(--landing-mobile-headline-padding);
    height: 20em;
  }
  #news_wrapper::after {
    font-size: var(--font-size-mobile-normal);
    top: calc(var(--landing-mobile-headline-padding)/2);
    right: var(--landing-mobile-headline-padding);
  }
  .news{
    grid-template-columns: 10% 90%;
    column-gap: var(--landing-large-padding);
  }
  .news .n_icon{
    font-size: var(--font-size-mobile-big);
    width: var(--font-size-mobile-huge);
    height: var(--font-size-mobile-huge);
    line-height: normal;
  }
  /*-----------------GRID------------------*/
  .grid-title{
    font-size: var(--font-size-mobile-normal);
  }
  .project_grid_wrapper{
    grid-template-columns: repeat(2,1fr);
  }
  .footer{
    height: 102px;
    position: relative;
  }
  .copyright{
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}                                                                 