*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*------------------------FONTS--------------------------*/
/*---8.19px---10.24px---13px---16px---20px---25px---31.25px---39.06px---48.83---61.04px---76.29px---*/
@font-face{/*Main Font import*/
  font-family:Poppins Thin;
  src:url(../fonts/Poppins-Thin.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins ExtraLight;
  src:url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Light;
  src:url(../fonts/Poppins-Light.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Regular;
  src:url(../fonts/Poppins-Regular.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Bold;
  src:url(../fonts/Poppins-Bold.ttf);
}
/*UBERALL FONT IMPORT*/
@font-face{
  font-family:Uberall Regular;
  src:url(../fonts/Uberall-Regular.otf);
}
/*------------------------FONT-SIZING--------------------------*/
h1{/*Headline*/
  font-family: 'Uberall Regular';
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}
p{/*Main Text*/
  font-family:'Poppins Thin';
  font-size: var(--small-paragraph-font-size);
  color: #ffffff;
}
/*------------------------PRE-LOADER--------------------------*/
#preloader_black{
  background: #000 url(../gifs/JuliusUberall_loading_white.gif) no-repeat center center;
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#preloader_white{
  background: #fff url(../gifs/JuliusUberall_loading_black.gif) no-repeat center center;
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/*------------------------ION-ICON--------------------------*/
ion-icon {
  color: #ffffff;
  float: right;
}
.icon_scale{
  font-size: 25px;
}
.icons{
  padding-right: 13px;
}
/*------------------------STYLE_CLASSES--------------------------*/
body{
  background-color: var(--black-2);
}
.namesocialLine{
  padding: 0 0 9px 0;
}
.head_line{
  display: inline-block;
}
#about_me{
  font-family: 'Poppins Regular';
  font-size: var(--small-paragraph-font-size);
  color: white;
  float: right;
}
.head_desktop{
  padding: 19px 30px 19px 30px;
}
.footer{
  padding: 0 var(--landing-large-padding) var(--landing-large-padding) var(--landing-large-padding);
  width: 100%;
}
.copyright{
  font-family: 'Poppins Regular';
  color: #ffffff;
  font-size: var(--small-paragraph-font-size);
}
/*------------------------PROJECT-category-filter-wrapper--------------------------*/
.category-filter-wrapper{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  column-gap: var(--landing-large-padding);
  row-gap: var(--landing-large-padding);
  padding-bottom: var(--landing-large-padding);
}
.filter-button{
  display: inline-flex;
  font-family: 'Poppins Regular';
  font-size: var(--small-paragraph-font-size);
  color: var(--light-grey);
  background-color: var(--black-0-hard);
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  justify-content: center;
  padding: var(--landing-tiny-padding);
  outline: solid 1px #444444;
}
.filter-button:hover{
  color: var(--bright-white);
  background-color: var(--black-3);
}

/*------------------------PROJECT_GRID--------------------------*/
.project-overview-wrapper{
  padding: var(--landing-large-padding);
}
.grid-container{ /*grid cell container*/
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: var(--landing-large-padding);
  row-gap: var(--landing-large-padding);
}
.grid-container > a{
  outline: solid 1px #444444;
  border-radius: var(--border-radius-medium);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeInAnimation 2s forwards; /* Animation duration and timing */
  background-color: var(--black-0-hard);
  text-decoration: none;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;/* Start opacity */
  }
  to {
    opacity: 1;/* End opacity */
  }
}
.grid-container > a:hover{
  box-shadow: 0 0 20px 2px var(--shadow-on-black);
  outline: solid 1px var(--grey-hovered);
}
.grid-container > a:active{
  box-shadow: 0 0 20px 2px var(--shadow-on-black-active);
}
.grid_cell > img{ /*grid images for each project*/
  width: 100%;
  border-radius: calc(var(--border-radius-medium)*1.05);
  display: block;
}
.cell_title{
  font-family: 'Poppins Regular';
  font-size: var(--small-paragraph-font-size);
  padding: 0px 20px 15px 20px;
  color: var(--light-grey);
}
.grid-container > a:hover .cell_title{
  color: #ffffff;
}
/*------------------------RESPONSIVE-DESIGN--------------------------*/
 /*DESKTOP*/                                                                     
@media all and (orientation:landscape){
  .head_mobile{
    display: none;
  }
}                                            
/*TABLET*/
@media all and (orientation:portrait){
  /*------------------------PRE-LOADER--------------------------*/
  #preloader_black{
    background-size: 10%;
  }
  #preloader_white{
    background-size: 10%;
  }
  /*-----------------HEAD------------------*/
  .head_desktop{
    display: none;
  }
  .head_mobile{
    padding: 19px 70px 0px 70px;
  }
  .head_line{
    width: 100%;
    font-family: 'Uberall Regular';
    color: #ffffff;
    font-size: 48.83px;
    text-align: left;
    padding: 0 0 15px 0;
  }
  .category-filter-wrapper{
    grid-template-columns: repeat(2,1fr);
  }
  .filter-button{
    font-size: 39.06px;
    border-radius: var(--border-radius-large-mobile);
    padding: var(--landing-medium-padding) var(--landing-large-padding);
  }
  #soc_about_line{
    width: 100%;
    position: relative;
    height: 79px;
  }
  #rectangle{
    margin: 0px -70px 0px -70px;
    width: 100% + 140px ;
    height: 100%;
    border: 1px solid #444444;
  }
  #social_icons{
    position: absolute;
    top: 22px;
    left: 0;
  }
  ion-icon{
    float: unset;
  }
  .icon_scale{
    font-size: 34px;
  }
  .icons{
    padding: 0 0 0 22px;
  }
  #about_me{
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 39.06px;
  }
  .footer{
    border: 1px solid #444444;
  }
  /*-----------------GRID------------------*/
  .cell_hover{
    display: none;
  }
  .grid-container{
    grid-template-columns: repeat(2,1fr);
  }
  .cell_title{
    font-size: 31.25px;
  }
  .footer{
    height: 102px;
    position: relative;
  }
  .copyright{
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}                               
/*MOBILE*/
@media(max-width:590px){
  #soc_about_line{
    height: 114px;
  }
  #social_icons{
    position: unset;
    width: 100%;
    float: left;
    padding: 15px 0 0 0;
  }
  #about_me{
    position: unset;
    float: left;
  }
  #rectangle{
    margin: 0px -70px 0px -70px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 140px);
    border: 1px solid #444444;
  }
}                                     

:root {
  --black-0-hard: #000000;
  --black-1: #060505;
  --black-2: #0d0c0b;
  --black-3: #131618;
  --black-4: #191f22;
  --grey-hovered: #626262;
  --light-grey: #a8a8a8;
  --light-light-grey: #c8c8c8;

  --shadow-on-black: #373737;
  --shadow-on-black-active: #e7e7e7;
  --bright-white: #ffffff;
  
  --border-radius-large-mobile: 80px;
  --border-radius-medium-mobile: 50px;
  --border-radius-medium: 20px;
  --landing-large-padding: 30px;
  --landing-medium-padding: 15px;
  --landing-small-padding: 7px;
  --landing-tiny-padding: 4px;

  --medium-paragraph-font-size: 16px;
  --small-paragraph-font-size: 13px;
}