*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*------------------------FONTS--------------------------*/
/*---8.19px---10.24px---12.8px---16px---20px---25px---31.25px---39.06px---48.83---61.04px---76.29px---*/
@font-face{/*Main Font import*/
  font-family:Poppins Thin;
  src:url(../fonts/Poppins-Thin.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins ExtraLight;
  src:url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Light;
  src:url(../fonts/Poppins-Light.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Regular;
  src:url(../fonts/Poppins-Regular.ttf);
}
@font-face{/*Main Font import*/
  font-family:Poppins Bold;
  src:url(../fonts/Poppins-Bold.ttf);
}
/*------------------------ION-ICON--------------------------*/
.home_button_white {
  color: #ffffff;
  font-size: 25px;
  padding: 25px 30px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  --ionicon-stroke-width: 20px;
}
.home_button_black {
  color: #000000;
  font-size: 25px;
  padding: 25px 30px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  --ionicon-stroke-width: 20px;
}
/*------------------------DARK-MODE_CLASSES--------------------------*/
.right_column{
  float: left;
  width: 75%;
  border: 0.5px solid #444444;
}
.cell_content_half_width{
  float: left;
  width: 50%;
  border: 0.5px solid #444444;
}
.cell_content_full_width{
  float: left;
  width: 100%;
  border: 0.5px solid #444444;
}
.project_headline{
  font-family: Poppins Regular;
  font-size: 20px;
  color: white;
  padding: 0 100px 0 0;
}
.project_description{
  padding-top: 12px;
  font-family: Poppins ExtraLight;
  font-size: 16px;
  color: white;
}
.project_details{
  padding-top: 19px;
  font-family: Poppins Regular;
  font-size: 12.8px;
  color: white;
}
#partner_link{
  color: white;
}
/*------------------------BRIGHT-MODE_CLASSES--------------------------*/
.right_column_bright{
  float: left;
  width: 75%;
  border: 0.5px solid #444444;
}
.cell_content_half_width_bright{
  float: left;
  width: 50%;
  border: 0.5px solid #444444;
}
.cell_content_full_width_bright{
  float: left;
  width: 100%;
  border: 0.5px solid #444444;
}
.project_headline_bright{
  font-family: Poppins Regular;
  font-size: 20px;
  color: black;
  padding: 0 100px 0 0;
}
.project_description_bright{
  padding-top: 12px;
  font-family: Poppins ExtraLight;
  font-size: 16px;
  color: black;
}
.project_details_bright{
  padding-top: 19px;
  font-family: Poppins Regular;
  font-size: 12.8px;
  color: black;
}
#partner_link_bright{
  color: black;
}
#partner_link_bright_important{
  font-family: Poppins Bold;
  color: black;
}
/*------------------------STYLE_CLASSES--------------------------*/
.desktop_video{
  margin-bottom: -4px;
  pointer-events: none;
}
#mobile_video_static{
  display: none;
}
.fixed{
  position: relative;
}
.page{
  position: relative;
}
.content{
  width: 100%;
  margin-bottom: -4px;
}
.content_white_background{
  width: 100%;
  margin-bottom: -4px;
  background-color: #ffffff;
}
.empty_left_column{
  float: left;
  width: 25%;
  height: 100%;
  padding: 19px 19px 19px 30px;
}
.content_left_column{
  float: left;
  width: 25%;
  height: 100%;
  padding: 19px 19px 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
}
/*------------------------RESPONSIVE-DESIGN--------------------------*/                                                                                                   
/*TABLET*/
@media all and (orientation:portrait){
  .desktop_video{
    display: none;
  }
  #mobile_video_static{
    display: unset;
  }
  .home_button_black, .home_button_white{
    font-size: 64px;
    padding: 44px 30px 0 0;
  }
  .project_headline, .project_headline_bright{
    padding-top: 100px;
    font-size: 76.29px;
  }
  .project_description, .project_description_bright{
    font-family: Poppins ExtraLight;
    font-size: 31.25px;
  }
  .project_details, .project_details_bright{
    font-size: 31.25px;
  }
  .content_left_column{
    width: 100%;
    position: unset;
  }
  .empty_left_column{
    display: none;
  }
  .right_column{
    width: 100%;
    border: 1px solid #444444;
  }
  .right_column_bright{
    width: 100%;
  }
  .cell_content_half_width{
    border: 1px solid #444444;
  }
  .cell_content_half_width_bright{
    border: 0.5px solid #444444;
  }
}                               
/*MOBILE*/
@media(max-width:767px){
  .cell_content_half_width, .cell_content_half_width_bright{
    width: 100%;
  }
}   
