*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*------------------------DARK-BRIGHT-CLASSES--------------------------*/
.right_column{
  float: left;
  width: 75%;
  border: 0.5px solid var(--default-outline-colour);
}
.cell_content_third_width{
  float: left;
  width: 33.3333%;
  border: 0.5px solid var(--default-outline-colour);
}
.cell_content_half_width{
  float: left;
  width: 50%;
  border: 0.5px solid var(--default-outline-colour);
}
.cell_content_full_width{
  float: left;
  width: 100%;
  border: 0.5px solid var(--default-outline-colour);
}
.project_headline{
  font-family: Uberall Regular;
  font-size: 20px;
  padding: 0 100px 0 0;
}
.project_description{
  padding: 12px 0 10px 0;
  font-family: Poppins ExtraLight;
  font-size: var(--medium-paragraph-font-size);
}
.project_details{
  padding-top: 19px;
  font-family: Poppins Regular;
  font-size: var(--font-size-smaller);
}
#partner_link_bright_important{
  font-family: Poppins Bold;
}
/*------------------------STYLE_CLASSES--------------------------*/
.desktop_video{
  margin-bottom: -5px;
  pointer-events: none;
}
#desktopShow{
  display: unset;
}
#mobile_video_static, #mobileShow{
  display: none;
}
.page{
  position: relative;
}
.content{
  width: 100%;
  margin-bottom: -4px;
}
.content_white_background{
  width: 100%;
  margin-bottom: -4px;
  background-color: #ffffff;
}
.empty_left_column{
  float: left;
  width: 25%;
  height: 100%;
  padding: 19px 19px 19px 30px;
}
.content_left_column{
  float: left;
  width: 25%;
  height: 100%;
  padding: 19px 19px 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  overflow: auto;
}
.project_details > .button-1 {
    display: flex;
    border-radius: var(--border-radius-medium);
    justify-content: center;
    padding: 5px;
}
/*------------------------3D-CONTENT--------------------------*/ 
.Base_3Dmodelviewer{
  width: 100%;
}
.meshGrowth3Dmodel{
  padding-bottom: 56.25%;
}
.yuJewellery3Dmodel{
  padding-bottom: 100%;
}
/*------------------------RESPONSIVE-DESIGN--------------------------*/                                                                                                   
/*TABLET*/
@media all and (orientation:portrait){

  /* === 3D CONTENT STYLES === */
  .mobile3Dmodel{
    padding-bottom: 110%;
  }
  .mobile_dont_show{
    display: unset;
  }

  /* === ELSE === */
  .desktop_video{
    display: none;
  }
  #desktopShow{
    display: none;
  }
  #mobile_video_static, #mobileShow{
    display: unset;
  }
  .project_headline{
    padding-top: 100px;
    font-size: 76.29px;
  }
  .project_description{
    font-family: Poppins ExtraLight;
    font-size: 31.25px;
    padding-bottom: 25px;
  }
  .project_details{
    font-size: 31.25px;
    padding-top: 30px;
  }
  .content_left_column{
    width: 100%;
    position: unset;
  }
  .empty_left_column{
    display: none;
  }
  .right_column{
    width: 100%;
    border: var(--default-outline);
  }
  .cell_content_third_width{
    border: var(--default-outline);
  }
  .cell_content_half_width{
    border: var(--default-outline);
  }
}                               
/*MOBILE*/
@media(max-width:1300px){
  .cell_content_half_width, .cell_content_third_width{
    width: 100%;
  }
}   
