/*------------------------BASELINE--------------------------*/
body{
    background-color: var(--invisible-grey);
    counter-reset: figure; /* start counter at 0 */
}
a{
    color: unset;
    text-decoration: none;
}
pre{
    margin: 0;
}
#main{
    max-width: 1000px;
    padding: 0 20%;
    margin: 0 auto;
    text-align: justify;
    hyphens: auto;
}
#main .media_wrapper{
    text-align-last: center;
}
#main > div{
    padding-bottom: var(--landing-large-padding);
}

/*------------------------HEADLINE--------------------------*/

#project_headline_wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-poppins-regular);
    padding-top: var(--landing-huge-padding);
}
#project_headline_wrapper > div{
    padding-bottom: var(--landing-medium-padding);
}
#type_date{
    font-family: var(--font-poppins-regular);
}
#title{
    font-family: var(--font-poppins-semibold);
    font-size: var(--font-size-large);
    padding: 0 15% 0 15%;
}
#team{
    line-height: var(--font-size-large);
    padding-bottom: 0 !important;
}
#team a {
    font-family: var(--font-poppins-semibold);
}
sup {
    padding-left: 3px;
    padding-right: 3px
}

/*------------------------ABSTRACT--------------------------*/
#abstract_wrapper{
    font-size: var(--medium-paragraph-font-size);
    font-family: var(--font-poppins-regular);
}
#abstract_wrapper > div{
    display: grid;
    grid-template-columns: repeat(2,33% 66%);
    gap: var(--landing-medium-padding);
}
#quicklinks{
    display: flex;
    flex-direction: column;
    gap: var(--landing-medium-padding);
    max-width: 70%;
}
.research-quicklink-button{
    text-align: center;
    font-family: var(--font-poppins-regular);
    font-size: var(--font-size-smaller);
    border-radius: var(--border-radius-medium);
    justify-content: center;
    padding: var(--landing-tiny-padding);
}

/*------------------------SECTION--------------------------*/
.section_headline{
    font-family: var(--font-poppins-semibold);
    font-size: var(--font-size-extra-big);
    padding-bottom: var(--landing-medium-padding);
    padding-top: var(--landing-extra-large-padding);
}
.section_wrapper {
    padding-bottom: 0 !important;
    font-family: var(--font-poppins-regular);
}
.section_wrapper .section_headline{
    display: flex;
    align-items: center;
}
.section_wrapper .section_headline::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin-left: 10px;
}
.section_text{
    padding-bottom: var(--landing-large-padding);
    font-size: var(--medium-paragraph-font-size);
}
.section_equation{
    outline: 1px solid var(--light-light-grey);
    padding: var(--landing-large-padding);
    margin-bottom: var(--landing-large-padding);
    border-radius: var(--border-radius-medium);
    font-family: MJXZERO !important;
}
.stacked_equation mjx-container + mjx-container{
    padding-top: var(--landing-large-padding);
}

/*------------------------REFERENCES--------------------------*/
.section_wrapper .references{
    font-size: var(--font-size-smaller);
}
.references ol {
    counter-reset: list-counter;
    padding: 0;
}
.references li {
    list-style: none;
    counter-increment: list-counter;
    text-align: left;
    position: relative;
    padding-left: 6%; 
}
.references li::before {
    content: "[" counter(list-counter) "] ";
    padding-right: 1%;
    position: absolute; 
    left: 0; 
    width: 4%; 
    text-align: right;
}
.content_ref {
    font-size: var(--font-size-tiny);
    vertical-align: super;
    line-height: 1;
    text-decoration: none;
}
.content_ref:hover {
    color: var(--accent-colour); /* Wikipedia's blue color on hover */
}
.inline_ref{
    display: inline;
}

/*------------------------MEDIA--------------------------*/
figure{
    margin: 0;
    counter-increment: figure; /* increase count for each figure */
}
figcaption {
    font-family: var(--font-poppins-regular);
    font-size: var(--font-size-extra-smaller);
    margin-top: var(--landing-small-padding);
    font-style: italic;
}
figcaption::before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}
figure figcaption {
    padding: 0 5%;
}
.full_fig figure{
    padding: var(--landing-huge-padding);
}
.columns_2{
    grid-template-columns: repeat(2,1fr);
    gap: var(--landing-medium-padding);
}
.columns_4{
    grid-template-columns: repeat(4,1fr);
    gap: var(--landing-medium-padding);
}
.columns_4 figure{
    padding: var(--landing-medium-padding) !important;
}
.media_wrapper figure{
    border-radius: var(--border-radius-medium);
    background-color: rgb(255, 255, 255);
    padding: var(--landing-large-padding);
    box-shadow: 5px 5px 10px 2px var(--shadow-on-invisible-grey);
}
.media_wrapper{
    display: grid;
    gap: var(--landing-large-padding);
}
.media_wrapper img, .media_wrapper video {
    width: 100%;
}
.media_wrapper video {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0 ;
}
.presentation_video_wrapper > div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0
}
.presentation_video_wrapper > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    outline: var(--default-outline);
}

/*------------------------BibTex--------------------------*/
.bibtex_wrapper{
    background-color: var(--bright-white);
    border-radius: var(--border-radius-medium);
    padding-bottom: 0 !important;
}
#bibtex{
    font-size: var(--font-size-extra-smaller);
    overflow: scroll;
    padding: 20px;
    scrollbar-width: none;
    color: var(--light-grey);
}

/*------------------------MathJax--------------------------*/
mjx-container{
    margin: 0 !important;
}
mjx-container[jax="CHTML"] {
    line-height: var(--medium-paragraph-font-size);
}

/*------------------------RELATED-PROJECTS-----------------*/
.related_wrapper .section_headline{
    border-bottom: var(--thick-outline);
}
.related_wrapper .project_grid_wrapper{
    padding-top: var(--landing-medium-padding);
}
.related_wrapper .project-metadata{
    font-size: var(--font-size-extra-smaller);
}
.related_wrapper .project_grid_wrapper > a:hover{
    box-shadow: 5px 5px 10px 2px var(--grey-hovered);
}
.related_wrapper .project_title{
    font-family: var(--font-poppins-semibold);
}

/*------------------------RESPONSIVE-DESIGN--------------------------*/
@media all and (orientation:portrait){
    #main{
        padding: 0 var(--mobile-side-padding);
    }
    #main > div{
        padding-bottom: var(--landing-mobile-headline-padding);
    }

    /*------------------------HEADLINE--------------------------*/
    #project_headline_wrapper{
        font-family: var(--font-poppins-regular);
        padding-top: var(--landing-huge-padding);
    }
    #project_headline_wrapper > div{
        padding-bottom: var(--font-size-mobile-normal);
    }
    #title{
        font-size: var(--font-size-mobile-large);
        padding: 0 5%;
    }
    #type_date{
        font-size: var(--font-size-mobile-normal);
    }
    #team{
        line-height: var(--font-size-mobile-extra-large);
        font-size: var(--font-size-mobile-normal);
    }
    #abstract_wrapper > div{
        grid-template-columns: repeat(1, 1fr);
    }
    .research-quicklink-button{
        font-size: var(--font-size-mobile-normal);
        grid-area: unset !important;
    }
    #quicklinks{
        gap: var(--mobile-side-padding);
        max-width: unset;
    }


    /*------------------------SECTION--------------------------*/
    .section_headline{
        font-size: var(--font-size-mobile-large);
    }
    .section_text {
        font-size: var(--font-size-mobile-normal);
    }
    .related_wrapper .section_headline{
        border-bottom: var(--thick-outline-mobile);
    }

    /*------------------------MathJax--------------------------*/
    .section_wrapper mjx-container{
        font-size: var(--font-size-mobile-big) !important;
    }
    figcaption mjx-container{
        font-size: var(--font-size-mobile-normal) !important;
    }

    /*------------------------MEDIA--------------------------*/
    figcaption {
        font-size: var(--font-size-mobile-small);
    }
    figure figcaption {
        padding: 0 5%;
    }
    .columns_2{
        grid-template-columns: repeat(1,1fr);
        gap: var(--mobile-side-padding);
    }
    .columns_4{
        grid-template-columns: repeat(1,1fr);
        gap: var(--mobile-side-padding);
    }
    .media_wrapper figure{
        box-shadow: 10px 10px 20px 4px var(--shadow-on-invisible-grey);
    }

    /*------------------------REFERENCES--------------------------*/
    .section_wrapper .references{
        font-size: var(--font-size-mobile-small);
    }
    .section_wrapper li{
        padding-bottom: 3%;
    }
    .references li::before {
        font-size: var(--font-size-mobile-low);
        top: 3%;
    }

    /*------------------------BibTex--------------------------*/
    #bibtex{
        font-size: var(--font-size-mobile-normal);
        padding: var(--mobile-side-padding);
    }

    /*------------------------ABSTRACT--------------------------*/
    #abstract_wrapper{
        font-size: var(--font-size-mobile-normal);
    }
    #abstract_wrapper > div{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        gap: var(--font-size-mobile-normal);
    }
    #quicklinks{
        grid-row: 2;
    }
    #quicklinks div{
        padding-top: var(--font-size-mobile-normal);
    }
    #quicklinks a:active{
        color: var(--bright-white);
    }
    #quicklinks a:active::before{
        left: 0;
    }

    /*------------------------RELATED-PROJECTS-----------------*/
    .related_wrapper .project-metadata{
        font-size: var(--font-size-mobile-normal);
        padding: var(--landing-mobile-headline-padding);
        padding-top: var(--font-size-mobile-small);
    }
    .related_wrapper .project_grid_wrapper {
        padding-top: var(--mobile-side-padding);
    }
    .related_grid{
        grid-template-columns: repeat(2,1fr);
        gap: var(--mobile-side-padding);
        text-align: left !important;
    }
}