/*------------------------BASELINE--------------------------*/
*{
    font-family: var(--font-poppins-regular);
}
body{
    background-color: var(--invisible-grey);
}
a{
    color: unset;
    text-decoration: none;
}
#main{
    padding: 0 24% 0 24%;
}
#main > div{
    padding-bottom: var(--landing-large-padding);
}

/*------------------------HEADLINE--------------------------*/

#project_headline_wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-poppins-regular);
    padding-top: var(--landing-huge-padding);
}
#project_headline_wrapper > div{
    padding-bottom: var(--landing-medium-padding);
}
#type_date{
    font-family: var(--font-poppins-bold);
}
#title{
    font-family: var(--font-poppins-bold);
    font-size: var(--font-size-large);
    padding: 0 15% 0 15%;
}
#team{
    line-height: var(--font-size-large);
    padding-bottom: 0 !important;
}

/*------------------------ABSTRACT--------------------------*/
#abstract_wrapper > div{
    display: grid;
    grid-template-columns: repeat(2,33% 66%);
    gap: var(--landing-medium-padding);
}
#quicklinks{
    color: var(--accent-colour);
    grid-template-rows: repeat(1, 1fr);
    gap: var(--landing-medium-padding);
}

/*------------------------SECTION--------------------------*/
.section_headline{
    font-family: var(--font-poppins-bold);
    font-size: var(--font-size-extra-big);
    padding-bottom: var(--landing-medium-padding);
    padding-top: var(--landing-extra-large-padding);
}
.section_wrapper .section_text{
    column-count: 2;
    column-gap: var(--landing-large-padding);
}
.section_wrapper .section_headline{
    display: flex;
    align-items: center;
}
.section_wrapper .section_headline::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin-left: 10px;
}

/*------------------------MEDIA--------------------------*/
figure{
    margin: 0;
    text-align: center;
}
figcaption {
    font-size: var(--font-size-extra-smaller);
    margin-top: var(--landing-small-padding);
    padding: 0 10%;
}
.columns_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--landing-medium-padding);
}
.columns_4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--landing-medium-padding);
}
.media_wrapper img {
    border-radius: var(--border-radius-medium);
    width: 100%;
    box-shadow: 5px 5px 10px 2px var(--shadow-on-invisible-grey);
}
.media_wrapper + .media_wrapper{
    padding-bottom: 0 !important;
}

/*------------------------RELATED-PROJECTS--------------------------*/
.related_wrapper .section_headline{
    border-bottom: var(--thick-outline);
}
.related_wrapper .project_grid_wrapper{
    padding-top: var(--landing-medium-padding);
}
.related_wrapper .project-metadata{
    font-size: var(--font-size-extra-smaller);
}
.related_wrapper .project_grid_wrapper > a{
    box-shadow: 5px 5px 10px 2px var(--grey-hovered);
}
.related_wrapper .project_grid_wrapper > a:hover{
    box-shadow: none;
}
.related_wrapper .project_title{
    font-family: var(--font-poppins-bold);
}

/*------------------------RESPONSIVE-DESIGN--------------------------*/
@media all and (orientation:portrait){
    #main{
        padding: 0 var(--landing-mobile-headline-padding);
    }
    #title{
        padding: unset;
    }
    .media_wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    #abstract_wrapper > div{
        grid-template-columns: repeat(1, 1fr);
    }
}